.footer__web {
    width: 100%;
    height: 65px;
    margin-top: 91px;
    text-align: center;
    padding-top: 25px;
    background: #000000;
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #fff;
    }
}